*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Nunito', sans-serif;
	color: #384047;
}

h1 {
	margin: 0 0 30px 0;
	text-align: center;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
	background: rgba(255,255,255,0.1);
	border: none;
	font-size: 16px;
	height: auto;
	margin: 0;
	outline: 0;
	padding: 15px;
	width: 100%;
	background-color: #e8eeef;
	color: #8a97a0;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 30px;
}

textarea {
	background: rgba(255,255,255,0.1);
	border: none;
	font-size: 16px;
	height: auto;
	margin: 0;
	outline: 0;
	padding: 0px;
	width: 100%;
	background-color: #e8eeef;
	color: #8a97a0;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 0px;
}

input[type="radio"],
input[type="checkbox"] {
	margin: 0 4px 8px 0;
}

select {
	padding: 6px;
	height: 32px;
	border-radius: 2px;
}

button {
	padding: 19px 39px 18px 39px;
	color: #FFF;
	background-color: #4bc970;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	border-radius: 5px;
	width: 100%;
	border: 1px solid #3ac162;
	border-width: 1px 1px 3px;
	box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
	margin-bottom: 10px;
}


label {
	display: block;
}

label.light {
	display: inline;
}

.number {
	background-color: #5fcf80;
	color: #fff;
	height: 30px;
	width: 30px;
	display: inline-block;
	font-size: 0.8em;
	margin-right: 4px;
	line-height: 30px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255,255,255,0.2);
	border-radius: 100%;
}

@media screen and (min-width: 480px) {

	form {
		max-width: 480px;
	}

}

form {
	margin: 10px auto;
	padding: 10px 20px;
	border-radius: 8px;
}

#msform {
	text-align: center;
	position: relative;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}

#msform fieldset {
	margin: 10px auto;
	padding: 10px 20px;
	background: #f4f7f8;
	border-radius: 8px;
	border-color: white;
}

/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	padding: 0px;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: #8a97a0;
	text-transform: uppercase;
	font-size: 9px;
	width: 33.33%;
	float: left;
	position: relative;
	vertical-align: baseline;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
	border-radius: 100%;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: #8a97a0;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #27AE60;
	color: white;
}


.box {
	width: 100%;
	max-width: 400px;
	margin: 2rem auto;
	background: white;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 3px;
	text-align: left;
}

/*****
 *
 * Radio checked style related
 *
 */

input[type=radio] {
	display: none;
}

.active-label, label:focus, label:hover, label:active, input:checked + label {
	color: #27AE60;
}

.active-label:before, label:focus:before, label:hover:before, label:active:before, input:checked + label:before {
	background: white;
	border-color: #27AE60;
}

label {
	font-size: 1rem;
	font-weight: bold;
	line-height: 1;
	cursor: pointer;
	display: block;
	padding: 1rem 1rem 1rem 3rem;
	position: relative;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	background: white;
	whitespace: no-wrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-transition: all .15s ease;
	transition: all .15s ease;
}

.line {
	display: block;
	padding: 1rem 1rem 1rem 3rem;
	position: relative;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	background: white;
}

label:first-of-type {
	border: 0;
}

label:before {
	content: "";
	position: absolute;
	left: 1rem;
	top: 1rem;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	border: .2rem solid #ccc;
}

/**
 * How it should look when checked
 */
input:checked + label:before {
	border-color: white;
	border: none;
	background: #27AE60;
}

/**
 * How it should look when disabled
 */
input:disabled + label {
	background: #efefef;
	color: rgba(0, 0, 0, 0.5);
	cursor: not-allowed;
}
input:disabled + label:hover {
	border-color: rgba(0, 0, 0, 0.1);
}
input:disabled + label:before {
	border-color: white;
	background: white;
}

.popover-content img {
	width: 250px;
}



